<div class="container mt-4">
  <h2>Customer Dashboard</h2>

  <!-- Search Input -->
  <div class="form-group mb-3">
    <input type="text" class="form-control" placeholder="Search customer..." [(ngModel)]="searchTerm" />
  </div>

  <!-- Customer Table -->
<div class="mt-3">
  <table class="table table-striped ">
    <thead>
    <tr>
      <th>Property ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through filtered customers -->
      @for (customer of customers; track customer.propertyId){
        <tr >

          <td>{{ customer.propertyId }} <mat-icon>content_copy</mat-icon> </td>
          <td>{{ customer.name }}</td>
          <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
          <td><a href="tel:{{ customer.phone }}">{{ customer.phone }}</a></td>
          <td>{{ customer.address }}</td>
          <td><app-customer-status-manager [customer]="customer"/></td>
          <td>
           <mat-icon  (click)="deleteCustomer(customer)">delete_sweep</mat-icon>
          </td>
        </tr>
      }

    </tbody>
  </table>
</div>
</div>
